a {
  color: black
}

/* start parallax */

body, html {
  height: 100%;
  font-family: 'Chivo', sans-serif;

}

.parallax {
  /* The image used */
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

/* end parallax */

.theCard {
    display: inline-block;
    align-items: center;
}
  
.text {
    color: white;
    font-size: 32px;
}

#jumbo {
  background-color: transparent;
}

